<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>succes</title>
</head>
<style>
    :root{
        background-image: url('https://uploads-ssl.webflow.com/5ef0df6b9272f7410180a013/60c0e28633f38cc7142e8a41_RwdROdfRH8MiM4qRkjQs3bxz3RlrLkEopUFMxNrvpHlRldrHDRwS1OXxo8O1J-li-X15C_ojdMrj9FqduA7PCbh2oqkN0UDESbOM61U3OYdWJds5lvpY-iIR8yAKQtucizTysXRB.png');
    }
</style>
<body>

    
</body>
</html>